.container {
    margin-top: 10px;
}

ul li label {
    margin-left: 10px;
}

div {
    margin-bottom: 20px ;
}

img {
    width: 80px;
    height: 50px;
}

input[type="checkbox"]{
    margin-left: 10px;
}
























